@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model EClaimsWeb.Models.BankDetailsViewModel

<div class="container">
    <form asp-action="Create" asp-controller="Home">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="NameAsInBank" class="control-label"></label>
                    <input asp-for="NameAsInBank" class="form-control" id="Code" readonly="readonly" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="BankName" class="control-label"></label>
                    <input asp-for="BankName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="BankCode" class="control-label "></label>
                    <input asp-for="BankCode" class="form-control " readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Branch" class="control-label "></label>
                    <input asp-for="Branch" class="form-control " readonly="readonly" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="BranchCode" class="control-label "></label>
                    <input asp-for="BranchCode" class="form-control " readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    @if (Model != null && !string.IsNullOrEmpty(Model.BankStatementUrl))
                    {
                        <label class="control-label">Bank Statement: </label>
                        <a href="@Url.Action("DownloadFile", "User", new { fileName = System.IO.Path.GetFileName(@Model.BankStatementUrl), bankStatementFileName =@Model.BankStatementFileName })">@Model.BankStatementFileName</a>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
