@model EClaimsEntities.Models.MstFacility

@{
    var error = TempData["Error"] as string;
    ViewData["Title"] = "Manage Facility ";
}

<div class="col-md-12 grid-margin stretch-card" id="AddNew">
    <div class="card">
        <div class="card-body">
            <h4 class="mb-0 font-weight-bold">Add Facility</h4>
            <form class="forms-sample mt-4" asp-action="Create" asp-controller="Facility">
                @if (!string.IsNullOrEmpty(error))
                {
                    <span class="alert-danger">@error</span>
                }
                <label id="msg" class="alert-danger"></label>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="col-md-12 form-group">
                        <label asp-for="DepartmentID" class="control-label"></label>
                        <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="UserID" class="control-label"></label>
                        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Code" class="control-label required"></label>
                        <input asp-for="Code" class="form-control required" id="Code" ondrop='return false;' onkeypress='return isNumber(event)' onpaste='return false' />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="FacilityName" class="control-label required"></label>
                        <input asp-for="FacilityName" class="form-control required" />
                        <span asp-validation-for="FacilityName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check col-md-12">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" checked="checked" />
                            @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <button type="submit" value="Create" class="btn btn-primary mr-2">Add Facility</button>
                    <a class="btn btn-danger mr-2 cancel" asp-action="Index">Close</a>
                    <input type="reset" value="Reset" class="btn btn-light" onclick="return ClearData();" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function ClearData() {
        $('#Code').val = null;
        $('#FacilityName').val = null;
        $('#DepartmentID').removeAttr('selected').find('option:first').attr('selected', 'selected');
        $('#IsActive').val = null;
    }

    $(document).ready(function () {

        $('#btnSubmit').click(function () {

            if ($("#facForm").valid()) { //check if form is valid using model annotation
                $('#facForm').submit();
            }
            else {
                return false;
            }
        });
        $("#facForm").on("submit", function (event) {
            event.preventDefault();
            $('#btnSubmit').attr('disabled', 'disabled');
            //var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                url: "/Facility/Create",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (response) {
                    if (response.res == 'success') {
                        $("#msg").html("Facility added successfully").css("color", "green");
                        window.location.href = "/Facility/Index";
                    }
                    else {
                        $("#msg").html(response.res).css("color", "green");
                        $('#btnSubmit').removeAttr('disabled');
                    }
                    // alert('Success! ' + JSON.stringify(response));
                },
                error: function (response) {
                    $("#msg").html("Error while Creating Facility ").css("color", "green");
                },
                complete: function () {
                    $('#btnSubmit').removeAttr('disabled');

                }
            })
        });
    });

    function isNumber(evt) {
        //alert("number");
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 47 || charCode > 57) && charCode != 44) {
            return false;
        }
    }
</script>
}
