<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - eClaim</title>
    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("_Header.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("_Sidebar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="border-top footer text-muted">
                    <div class="container">
                        Copyright © 2021 UEMS SOLUTIONS. All rights reserved.
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
