################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EClaims
EClaimsEntities/bin
EClaimsEntities/obj
EClaimsRepository/bin
EClaimsRepository/obj
EClaimsEntities/bin
EClaimsEntities/obj
EClaimsRepository/bin
EClaimsRepository/obj
EClaimsWeb/bin
EClaimsWeb/obj
EClaimsWeb/Properties
EClaimsWeb/Properties/PublishProfiles
EClaimsWeb/wwwroot/_bundles
EClaimsWeb/wwwroot/ExcelTemplates/~$ExpenseTemplate.xlsx
EClaimsWeb/wwwroot/ExcelTemplates/~$PVGiroTemplate.xlsx
